@import "variables.scss";

/* colours */



@each $name, $hex in $colours {

    .#{$name} {
        background-color: $hex;
        color: scale-color($hex, $lightness: -90%);
    }

    .#{$name}-l {
        background-color: scale-color($hex, $lightness: +50%);
        color: scale-color($hex, $lightness: -50%);
    }

    .#{$name}-d {
        background-color: scale-color($hex, $lightness: -50%);
        color: scale-color($hex, $lightness: +50%);
    }

    .text-#{$name} { color: $hex; }

    .link-#{$name} a, a.link-#{$name} { color: $hex; }

    .link-#{$name} a:hover, a.link-#{$name}:hover { color: scale-color($hex, $lightness: -90%); }

}