@import "variables.scss";

/* default values */

* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    background-color: transparent; 
    font-size: $fontSize; 
    font-family: $fontFamily; 
    line-height: $lineHeight; 
    font-weight: normal; 
    box-sizing: border-box;
}

/* text */

@for $increment from 5 through 1 {

    h#{$increment} { 
        font-family: $headerFamily;
        line-height: $lineHeight;   
    }
        
}

p{
    font-family: $fontFamily;
    line-height: $lineHeight;
    color: $dark;
}

a{
    text-decoration: $textDecoration;
}

.light{ font-weight: lighter; }
.normal{ font-weight: normal; }
.bold{ font-weight: bold; }
.italic{ font-style: italic; }
.underline{ text-decoration: underline; }
